<div class="wrapper-sidebar">
  <header class="sidebar clearfix">
    <div class="site-info">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar">
          <img src="{{ site.avatar }}" style="max-width: 100px;" />
        </a>
      {% endif %}
      <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p class="site-description">{{ site.description }}</p>
    </div>
  </header>

  <div class="navlist">
    <nav class="nav-primary">
      {% for nav in site.navigation %}
        {% unless nav.group == "secondary" %}
          {% if nav.url contains 'http://' or nav.url contains 'https://' %}
            <a href="{{ nav.url }}">{{ nav.name }}</a>
          {% else %}
            <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </nav>

    <nav class="nav-secondary">
      {% for nav in site.navigation %}
        {% if nav.group == "secondary" %}
          {% if nav.url contains 'http://' or nav.url contains 'https://' %}
            <a href="{{ nav.url }}">{{ nav.name }}</a>
          {% else %}
            <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="nav-email">
      <a href="mailto:{{ site.footer-links.email }}">{{ site.footer-links.email }}</a>
    </div>
  </div>
</div>
