
//
// VARIABLES
//

// Colors
$blue: $oc-teal-8;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald: 'Oswald', Arial, sans-serif;
$kosugi: 'Kosugi', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', 'Meiryo', sans-serif;
$georgia: Georgia, 'Times New Roman', serif;

// Fonts - Dual font system
$base-font: $oswald, $kosugi;
$code-font: 'Menlo', 'Monaco', 'Courier New', monospace;

// Font sizes
$base-font-size: 14px;
$small-font-size: 12px;

// Colors
$base-color: $black;
$base-lighten-color: $base-color;

$text-color: $base-color;
$link-color: #008000;
$divider-color: $black;

$table-border-color: $base-color;
$table-background-color: $oc-gray-1;

$blockquote-color: $base-color;
$blockquote-border-color: $oc-gray-3;

$footnote-link-border-color: $base-color;
$footnote-link-background-over-color: $oc-gray-1;

$selection-color: $white;
$selection-background-color: $black;

$pagination-color: $base-color;
$pagination-over-color: $oc-gray-8;

$tag-index-label-color: $base-color;
$tag-index-label-background-color: $white;
$tag-index-count-background-color: $white;

$footer-border-color: $base-color;
$footer-background-color: $oc-gray-0;

// List
$li-bottom-space: 0.4em;
$li-bullets-width: 1.4em;
$li-line-height: 1.55;

$ul-bullets-font: inherit;
$ul-bullets-font-size: 1.4em;
$ul-bullets-font-line-height: 1.2;
$ul-bullets-right-space: .3em;

$ol-bullets-font: inherit;
$ol-bullets-font-size: 1em;
$ol-bullets-font-line-height: inherit;
$ol-bullets-right-space: .3em;

$li-child-size-ratio: 0.95;

$dt-width: 180px;
$dt-dd-space: 20px;
$dd-position: $dt-width+$dt-dd-space;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
