.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.wrapper-sidebar {
  width: 200px;        /* 固定幅 */
  flex-shrink: 0;      /* 幅が縮まないようにする */
  background-color: #111;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}


.wrapper-content {
  width: 70%;
  max-width: 100vw;

  @include mobile {
    width: 100%;
    max-width: 100vw;
    float: none;
    display: block;
  }
}


/* モバイル時は上に表示 */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .wrapper-sidebar {
    width: 100%;
  }
}
/* 全体の横スクロールを防ぐ */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* コンテンツが横にはみ出ないようにする */
.page, .entry {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0 1rem; /* スマホで余白ができるように */
}

/* 画像などもレスポンシブに */
img, iframe, video {
  max-width: 100%;
  height: auto;
}
