<div id="main" role="main" class="wrapper-content">
  {% for post in site.posts %}
    {% assign image_rendered = false %}
    {% assign lines = post.content | split: '\n' %}
    <article class="post-thumbnail">
      <a href="{{ post.url | relative_url }}">
        {% for line in lines %}
          {% if image_rendered == false and line contains '![', and line contains '](' %}
            {{ line | markdownify }}
            {% assign image_rendered = true %}
          {% endif %}
        {% endfor %}
      </a>
    </article>
  {% endfor %}
</div>
