<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <div class="layout" style="max-width:none; display:block;">
      <!-- サイドバー削除済み -->

      <div id="main" role="main" class="wrapper-content" style="width:100%; margin:0 auto; max-width:1200px; padding:20px;">
        {{ content }}         <!-- メインコンテンツ -->
      </div>
    </div>

    <div class="wrapper-footer-mobile">
      <footer class="footer">
        {% include footer.html %}
      </footer>
    </div>

    {% include analytics.html %}
  </body>
</html>
